<!DOCTYPE html>
<style>
  #form {
    display: block;
    border: 3px solid black;
    width: 200px;
  }
  .casillero {
    width: 192px;
    margin-left: 3px;
    border: 1px solid black;
  }
</style>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
</script>
<html>
  <head>
    <title>Log-In Page</title>
  </head>
  <body>
    <form id="form" method="post" action="/loggin">
      <div>
        <center><h3>LOG IN</h3></center>
        <div class="casillero">
          <label for="User">
            <input type="text" placeholder="User" name="user" required="">
          </label>
        </div>
        <div class="casillero" style="margin-top: 5px;">
          <label for="Password">
            <input type="password" name="pass" placeholder="Password" required="">
          </label>
        </div>
        <center><button type="submit">Log-In</button></center>
      </div>
    </form>
  </body>
</html>
