<!DOCTYPE html>
<html>
<style>
  #body {
    display: block;
  }
  #container {
    margin-top: 20px;
    margin-left: 100px;
    padding-top: 20px;
    border: 2px solid black;
    border-radius: 50px;
    width: 400px;
    height: 200px;
  }
  .encabezado {
    margin-top: 35px;
  }
</style>
<%- include('../navbar/index.html') -%>
<%- include('header.html') -%>
<body id="body">
  <center>
      <%if (user) { %>
        <div id="container">
          <div>
            <ul>
              <li>
                <div class="encabezado">
                  <a href="/chat">Chat publico</a>
                </div>
              </li>
              <li>
                <div class="encabezado">
                  <a href="/chat/create">Crear un nuevo Chat</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      <% } else { %>
      <div id="container">
        <div class="encabezado"><a href="/loggin">Inicia sesion </a>para ver el sitio completo</div>
        <div class="encabezado"><a href="/create">Crea una cuenta </a>si no tenes una</div>
        <div class="encabezado">Y sonrei</div>
      </div>
      <% } %>
  </center>
</body>
</html>
